.chatListItem {
  display: flex;
  gap: 10px;
  padding: 15px 10px;
  align-items: center;
  text-decoration: none;
  color: #000000;
  transition: 0.3s;
  // &.unread {
  //   background-color: #eaf0ffa8;
  // }
  &:hover {
    background-color: #eaf0ff;
    :global {
      .ant-badge-dot {
        box-shadow: 0 0 0 2px #e7ecf8;
      }
    }
  }
  :global {
    .ant-badge-dot {
      top: 6px;
      right: 6px;
      width: 7px;
      height: 7px;
      box-shadow: 0 0 0 2px #fff;
    }
  }

  .chatInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: calc(100% - 60px);

    .firtsInfo {
      display: flex;
      justify-content: space-between;

      .fullName {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        font-weight: 600;
        max-width: calc(100% - 100px);
      }
      .statusMessage {
        color: #747474;
      }
    }
    .message {
      display: flex;
      justify-content: space-between;
      .lastMessage {
        color: #747474;
        width: calc(100% - 30px);
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
      }
      .countMessage {
        :global {
          .ant-badge-count {
            background-color: #597ef7;
            box-shadow: unset;
          }
        }
      }
    }
  }
}

.currentChat {
  background-color: #dde8ff;
  :global {
    .ant-badge-dot {
      box-shadow: 0 0 0 2px #dde8ff;
    }
  }
  &:hover {
    :global {
      .ant-badge-dot {
        box-shadow: 0 0 0 2px #dde8ff;
      }
    }
    background-color: #dde8ff;
  }
}
