.chatListItem {
  display: flex;
  gap: 10px;
  padding: 15px 10px;
  align-items: center;
  text-decoration: none;
  color: #000000;
  transition: 0.3s;
  &:hover {
    background-color: #e7ecf8;
    :global {
      .ant-badge-dot {
        box-shadow: 0 0 0 2px #e7ecf8;
      }
    }
  }
  :global {
    .ant-badge-dot {
      top: 6px;
      right: 6px;
      width: 7px;
      height: 7px;
      box-shadow: 0 0 0 2px #f7f7f7;
    }
  }

  .chatInfo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;

    .firtsInfo {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
    .lastMessage {
      color: #747474;
    }
  }
}

.currentChat {
  background-color: #dde8ff;
  :global {
    .ant-badge-dot {
      box-shadow: 0 0 0 2px #dde8ff;
    }
  }
  &:hover {
    :global {
      .ant-badge-dot {
        box-shadow: 0 0 0 2px #dde8ff;
      }
    }
    background-color: #dde8ff;
  }
}
