@font-face {
  font-family: "Inter-Regular";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;

  src: url("src/assets/fonts/Inter-Regular.ttf") format("ttf");
}

@font-face {
  font-family: "Inter-Bold";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;

  src: url("src/assets/fonts/Inter-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Inter-Light";
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  src: url("src/assets/fonts/Inter-Light.ttf") format("ttf");
}
.ant-carousel {
  font-family: sans-serif;
  line-height: 1.15;
}

#root {
  margin: 0 auto;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.88);
  ::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }
  ::-webkit-scrollbar-button {
    background-color: transparent;
    display: none;
  }
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  ::-webkit-scrollbar-track-piece {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  ::-webkit-resizer {
    background-color: transparent;
  }
}

.whiteBlock {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  padding: 20px;
}
// @keyframes logo-spin {
//   from {
//     transform: rotate(0deg);
//   }
//   to {
//     transform: rotate(360deg);
//   }
// }

// @media (prefers-reduced-motion: no-preference) {
//   a:nth-of-type(2) .logo {
//     animation: logo-spin infinite 20s linear;
//   }
// }
