@font-face {
  font-family: "Inter-Regular";
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;

  src: url("src/assets/fonts/Inter-Regular.ttf") format("ttf");
}
@font-face {
  font-family: "Inter-Medium";
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;

  src: url("src/assets/fonts/Inter-Medium.ttf") format("ttf");
}
@font-face {
  font-family: "Inter-Bold";
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;

  src: url("src/assets/fonts/Inter-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Inter-Light";
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  src: url("src/assets/fonts/Inter-Light.ttf") format("ttf");
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.88);
  font-family: 'Inter' !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
