.fileWrap {
  display: flex;
  justify-content: space-between;
  transition: all 0.2s;
}
.fileContainer {
  display: flex;
  align-items: center;
  gap: 5px;
  transition: all 0.2s;

  .fileIcon {
    cursor: pointer;
    position: relative;
    border-radius: 4px;
    svg {
      font-size: 36px;
      color: rgba(47, 84, 235, 0.6);
    }
    &:has(.uploadIcon:hover) {
      .icon {
        opacity: 0;
      }
    }
    .icon {
      transition: ease-in-out 0.2s;
    }
    .uploadIcon {
      position: absolute;

      top: 0px;
      left: 0px;
      opacity: 0;

      &:hover {
        opacity: 1;
        transition: ease-in 0.2s;
      }
    }
  }

  .fileInfo {
    a {
      color: rgba(47, 84, 235, 0.6);
    }
  }
}
